*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
vitamio/build/intermediates/res/resources-debug-androidTest.ap_

vitamio/build/intermediates/res/resources-debug-androidTest.ap_

vitamio/build/intermediates/bundles/debug/aapt/AndroidManifest.xml
