<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ifreedomer.beauty">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".BeautyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/NoActionbarFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.sign.SignSelectActivity"
            android:theme="@style/NoActionbarFullScreen">
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="570293ef67e58e5aa2000edc"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>
        <!-- ===========bugly============= -->
        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="900028226"/>
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0"/>
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="mine"/>
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true"/>
        <!-- ==========bugly================ -->
        <activity
            android:name=".activity.sign.SignInActivity"
            android:theme="@style/StateBarStyle">
        </activity>
        <activity
            android:name=".activity.sign.SignUpActivity"
            android:theme="@style/StateBarStyle"/>
        <activity
            android:name=".activity.sign.SignUpFullInfoActivity"
            android:theme="@style/StateBarStyle">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/StateBarStyle">
        </activity>
        <activity android:name=".activity.CourseDetailInfoActivity">
        </activity>
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionbarFullScreen">
        </activity>
        <activity android:name=".activity.personcenter.EditProfileActivity">
        </activity>
        <activity android:name=".activity.CommentActivity">
        </activity>
        <activity android:name=".activity.personcenter.SettingActivity">
        </activity>
        <activity android:name=".activity.personcenter.FollowsActivity">
        </activity>
        <activity android:name=".activity.ArticleDetailActivity">
        </activity>
        <activity android:name=".activity.PhotoPreviewActivity">
        </activity>
        <activity android:name=".activity.DeployCommentActivity">
        </activity>
        <activity

            android:theme="@style/AppTheme"
            android:name=".activity.DeployCourseActivity">
        </activity>
    </application>

</manifest>